[submodule "binary/jni/i2pd"]
	path = binary/jni/i2pd
	url = git@github.com:PurpleI2P/i2pd.git
[submodule "binary/jni/boost"]
	path = binary/jni/boost
	url = git@github.com:moritz-wundke/Boost-for-Android.git
[submodule "binary/jni/openssl"]
	path = binary/jni/openssl
	url = git@github.com:openssl/openssl.git
[submodule "binary/jni/miniupnp"]
	path = binary/jni/miniupnp
	url = git@github.com:miniupnp/miniupnp.git
[submodule "binary/jni/android-ifaddrs"]
	path = binary/jni/android-ifaddrs
	url = git@github.com:PurpleI2P/android-ifaddrs.git
[submodule "binary/jni/curl"]
	path = binary/jni/curl
	url = git@github.com:curl/curl.git
